* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cursorPointer {
	cursor: pointer;
}

.form-container {
	height: 90vh;
}

.category-container {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.registerContainer {
	min-height: 90vh;
}
.categoryItemContainer {
	height: 300px;
	min-width: 330px;
	flex: 1;
	margin: 10px;
	background-color: white;
}

.categoryItemContainer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	cursor: pointer;
	opacity: 0.6;
	transition: all 0.3s linear;
}

.categoryItemContainer img:hover {
	opacity: 1;
}

.cat-info {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.cat-info h1 {
	color: #ffff00;
}
.cat-btn {
	border: none;
	padding: 10px;
	cursor: pointer;
	color: gray;
	border: 1px solid lightgray;
	font-weight: 600;
}
/* FOOTER COMPONENT */

.socials-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials-icon > a {
	color: white;
}

.socials-icon:nth-child(1) {
	background-color: #3b5999;
}
.socials-icon:nth-child(2) {
	background-color: #e4405f;
}
.socials-icon:nth-child(3) {
	background-color: #55acee;
}
.socials-icon:nth-child(4) {
	background-color: #49c858;
}

.center ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.center li {
	width: 50%;
	margin-bottom: 10px;
}
.imgContainer img {
	width: 100%;
	/* height: 80vh; */
	object-fit: contain;
}

.infoContainer > div {
	font-size: 2rem;
}

.addQuantity > span {
	font-size: 1.2rem;
}
.bi-plus-circle,
.bi-dash-circle {
	font-size: 1.2rem;
	cursor: pointer;
}

.cartContainer {
	min-height: 70vh;
}

.cartDelete {
	cursor: pointer;
}

.orderContainer {
	width: 65%;
	height: 75vh;
}

.bi-clipboard-check {
	font-size: 150px;
}
.dashboard {
	width: 100%;
	/* height: 70vh; */
}

.dashboardBtn {
	padding: 30px !important;
	margin: 5px;
}
.dashboardBtnContainer i {
	font-size: 7rem;
}

.tableImg {
	width: 100px;
}
.tableTitle {
	width: 250px;
}
.tablePrice {
	width: 100px;
}
.tableActions {
	width: 150px;
}

.modal-backdrop.show {
	opacity: 0.1 !important;
}
.dropdown-menu {
	background-color: rgb(33, 37, 41) !important;
	color: #dee2e6 !important;
}

.adminUserContainer {
	min-height: 70vh;
}

@media screen and (min-width: 768px) {
	.registerContainer {
		background-image: url(https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
		background-size: cover;
	}

	.form-container {
		background-image: url(https://images.pexels.com/photos/3184454/pexels-photo-3184454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
		background-size: cover;
	}
}
